@page
@model PrivacyModel
@{
    ViewData["Title"] = "O Autoru";
}
<h1>@ViewData["Title"]</h1>

<div class="navigationBar">
    <ul class="navbar">
        <li class="nav-item">
            <a class="navlink text-dark" asp-area="" asp-page="/Index">Pocetna</a>
        </li>
        <li class="nav-item">
            <a class="navlink text-dark" asp-area="" asp-page="/O Autoru">O Autoru</a>
        </li>
        <li class="nav-item">
            <a class="navlink text-dark" asp-area="" asp-page="/Uputstvo">Uputstvo</a>
        </li>
    </ul>
</div>

<p>Cao svima ja sam cile.</p>
